{
  "presets": ["es2015"],
  "plugins": [
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "inline-json-import",
    ["flow-runtime", {
      "assert": true,
      "annotate": true
    }]
  ],
  "ignore": [
    "template.js"
  ]
}
